<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ebc21e19-be0b-44f4-87e4-5b4aafa9a724/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/AuthenticationNet6POC</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://authenticationnet6poc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c54ca443-a5e1-4c26-acd0-2c63a11d3439</ProjectGuid>
    <PublishUrl>https://authenticationnet6poc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AuthenticationNet6POC</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>